.panel {
    max-width: 30vw;
    max-height: 30vh;
    width: 30vw;
    height: 30vh;
    border: solid 10px #252525;
    background-color: #a5a5a5;
    padding: 10px;
    font-size: calc(10px + 2vmin);
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(68, 138, 255, 0.8), 0 0 25px rgba(68, 138, 255, 0.4); /* Outer glow */
}

header {
    font-size: calc(12px + 2vmin);
    font-family: "Orbitron", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: #121212;
}

p {
    font-size: calc(8px + 1vmin);
    color: #252525;
}