.interactive-solar-system {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .simulation {
    width: 70%;
  }
  
  .info {
    width: 30%;
    padding-left: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
  }
  